{
  "extends": "next/core-web-vitals",
  "rules": {
    "no-var": "error",
    "prefer-const": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
